@font-face {
  font-family: "Titillium Web";
  src: url("TitilliumWeb-Regular.ttf");
}

h1.splash {
  font-size: 80px;
}

@media only screen and (max-width: 768px) {

  h1.splash {
    font-size: 40px;
  }

}

h1 {
  text-align: center;
}

footer {
  padding: 10px;
  color: #ffffff;
  background-color: #2B3040;
  text-align: center;
#  position: sticky; 
  width: 100%-20px;  /*minus the padding left and right*/
  bottom: 0;
  left: 0;
  z-index: 10;
}

main {
  color: #ffffff;
  background-image: url("photo-1553877522-43269d4ea984.jpg");
  padding: 70px 0 100px; /* Added padding at the bottom to create space for the footer */
  min-height: calc(100vh - 110px); /* Ensures main content takes up at least the viewport height minus footer height */
}

body {
  margin: 0px;
  font-family: "Titillium Web";
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
.box {
  background-color: #2B3040;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}
.box h2 {
  margin-top: 0;
}
.cta {
  text-align: center;
  padding: 20px;
}
.cta a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #54FFE3;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.cta a:hover {
  background-color: #2B3040;
  color: #fff;
}
